.Message_pop_up {
    position: absolute;
    top: calc(100vh - 86%);
    left: 0px;
    font-size: xx-large;
    width: 100%;
    display: flex;
    background-color: #000000e6;
    height: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}