#grid {
    display: grid;
    grid-template-columns: repeat(10, 33px);
    width: 330px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    grid-row-gap: 1px;
    grid-column-gap: 1px;
}

#grid span {
    height: 33px;
    width: 33px;
    text-align: center;
    border: 1px solid black;
}

.first {
    color: ''
}

.projection {
    background-color: #c2c2c2;
}

.color {
    background: #000;
    color: white
}