#grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), var(--tile-size));
    margin-right: 8px;
    background-color: var(--main-color);
    width: 330px;
    border: 1px solid black;
}

#grid span {
    height: var(--tile-size);
    width: var(--tile-size);
    text-align: center;
    /* border-bottom: 1px solid rgb(247, 239, 239); */
    /* border-left: 1px solid rgb(247, 239, 239); */
}

.first {
    color: ''
}

.projection {
    background-color: #292929;
    border: 1px solid #171717;
}

.color {
    background: #000;
    color: white;
    border: 1px solid var(--border-color);
}