#grid {
    display: grid;
    grid-template-columns: repeat(var(--cols), var(--tile-size));
    margin-right: 8px;
    background-color: var(--bg-color);
    width: calc(var(--cols) * var(--tile-size));
    height: calc(var(--rows) * var(--tile-size));
    /* border: 1px solid black; */
}

#grid span {
    height: 100%;
    width: 100%;
    text-align: center;
    border: 1px solid rgb(247 239 239 / 15%);
}

.first {
    color: ''
}

.projection {
    background-color: #00000026;
}

.color {
    background: #000;
    color: white;
}

@media only screen and (max-width: 534px) {
    #grid {
        margin: 0 auto;
        grid-template-columns: repeat(var(--cols), var(--tile-size-mobile));
        width: calc(var(--cols) * var(--tile-size-mobile));
        height: calc(var(--rows) * var(--tile-size-mobile));
    }
}