.controls {
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: #171717;
    color: darkgrey;
}

.marginAuto {
    width: fit-content;
    margin: auto;
}

.heading {
    text-align: center;
    padding: 3% 0;
    font-size: xx-large;
    letter-spacing: 1px;
}

.buttonsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 49px 0px;
}

.buttonsDiv div {
    margin: 3px 0;
}