.nextPieceGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nextPieceGrid span {
    height: 33px;
    width: 33px;
    text-align: center;
}

.color {
    background-color: #000;
    border: 1px solid var(--border-color);
}