#tetris_container {
    display: grid;
    grid-template-columns: auto auto;
    flex-direction: row;
    border: 1px solid black;
    padding: 10px;
    justify-content: center;
    background-color: black;
}

.right_div {
    padding: 20px 10px;
    height: fit-content;
    background-color: var(--main-color);
}

.next_piece {
    margin: 5px 0px;
    width: 150px;
    padding: 5px;
    /* height: 154px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
}

.scores {
    padding: 5px 12px;
    margin: 6px 0px;
    border: 1px solid #c5c5c561;
}

.controls {
    display: none;
}

.start_pause {
    display: flex;
    flex-direction: column;
    background-color: border-box;
    padding: 2px;
    /* background-color: var(--bg-color); */
    margin: 2px 0;
}

.start_pause button {
    color: white;
    margin: 5px 0;
    font-weight: bolder;
    padding: 0px 0px 4px 0px;
    font-size: .9em;
    background: var(--main-color);
    cursor: pointer;
}

.guide {
    font-size: xx-small;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 2px;
}

@media only screen and (max-width: 534px) {
    #tetris_container {
        width: 99%;
        height: -moz-fit-content;
        height: fit-content;
        grid-column-gap: 6px;
        grid-row-gap: 6px;
    }
    .right_div {
        padding: 4px 8px;
        /* display: none; */
    }
    .next_piece {
        width: 115px;
    }
    .guide {
        display: none;
    }
    .controls div {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 10px;
        justify-content: center;
    }
    .controls {
        padding: 13px 0;
        /* margin: 2px 0; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--bg-color);
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .controls div button {
        margin: 0 23px;
    }
    .next_piece {
        margin: 0px 0px;
        padding: 0px;
    }
}